@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Quicksand:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-dark-blue;
    @apply font-regular;
    font-size: 22px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'LuthonSouthardSerif';
    src: url('assets/fonts/LuthonSouthardSerif.ttf');
}
@font-face {
    font-family: 'NanumMyeongjo';
    src: url('assets/fonts/NanumMyeongjo-Regular.ttf');
}
h1 {
    @apply text-xl;
    @apply md:text-3xl;
    @apply font-header;
}
h2 {
    @apply text-xl;
    @apply md:text-2xl;
    @apply font-header;
}
h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply font-header;
}
